services:
  php-fpm:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: php-fpm
    volumes:
      - .:/var/www
    depends_on:
      - mysql

  nginx:
    image: nginx:stable
    container_name: nginx
    ports:
      - "8000:80"
    volumes:
      - .:/var/www
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php-fpm

  mysql:
    image: mysql:8.0
    container_name: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: dlr_database
      MYSQL_USER: dlr_database_user
      MYSQL_PASSWORD: R!fSd294dD3&
    ports:
      - "3306:3306"
    volumes:
      - mysql-volume:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    restart: always
    ports:
      - "8080:80"
    environment:
      PMA_HOST: mysql
      MYSQL_ROOT_PASSWORD: root

  node:
    image: node:20
    container_name: node
    working_dir: /app
    volumes:
      - .:/app
    command: ["tail", "-f", "/dev/null"]
    ports:
      - "5173:5173"

volumes:
  mysql-volume:
