name: Pull Request Title Check

on:
  pull_request:
    types: [opened, synchronize, reopened, edited]

jobs:
  check-pr-title:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Check PR Title
        run: |
          branch_name="${{ github.head_ref }}"
          pr_title="${{ github.event.pull_request.title }}"
          echo "Branch Name: $branch_name"
          echo "Pull Request Title: $pr_title"

          if [[ "$branch_name" =~ ^feat/DLR-([0-9]+)$ ]]; then
            expected_prefix="Feat/DLR-${BASH_REMATCH[1]}."
          elif [[ "$branch_name" =~ ^fix/DLR-([0-9]+)$ ]]; then
            expected_prefix="Fix/DLR-${BASH_REMATCH[1]}."
          elif [[ "$branch_name" =~ ^hotfix/ ]]; then
            expected_prefix="Hotfix."
          elif [[ "$branch_name" =~ ^release/[0-3][0-9]\.[0-1][0-9]\.[0-9]{2}-v[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
            expected_prefix="Release/${branch_name#release/}"
          else
            echo "Branch name does not follow the required pattern."
            exit 1
          fi

          echo "Expected PR Title Prefix: $expected_prefix"

          # Check the format of the PR title
          if ! [[ "$pr_title" =~ ^$expected_prefix ]]; then
            echo "Pull Request title does not meet the required format for the branch $branch_name: $pr_title"
            exit 1
          fi

          echo "Pull Request title meets the required format."
